.container{
    font-family: fantasy;
    /* border: 2px solid; */
    background-color: ede8f5;
    padding-bottom: 30px;  
}

.shiva{
    margin-top: 5px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 40px;
}

.row{
    /* border: 2px solid black; */
}

.img1{
    width: 100%;
}
.section {
    border: 2px solid #c1c8e4;
    width: 100%;
    height: 250px;
    background-color:#c1c8e4;
}
.OsmaniaUniversitylogo {
    height: 245px;
    width: 20%;
    /* border: 2px solid; */
    border-radius: 50%;
    padding-left: 10px;
}

.OsmaniaUniversity{
    /* border: 2px solid; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    height: 200px;
    width: 70%;
    display: inline-flex;
    padding-left: 10%;
}

.NoticeBoardcol-12{
    border: 2px solid #EEE2DC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display:inherit;
    text-align: center;
    font-size: 80px;
    background-color: #EEE2DC;
    color: red;
}
.MarksEvents{
    /* border: 2px solid; */
    height: 150px;
    text-align: center;
    color: black;
    background-color: #EEE2DC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.Marks{
    border:2px solid;
    padding-top: 10px;
}
.Events1{
    border: 2px solid;
    padding-top: 10px;
}
.Timetable{
    border: 2px solid;
    padding-top: 10px;
}
.CategoryHeader{
    height: 80px;
    padding-top: 5px;
    background-color: #C5CBE3;
    border:1px solid #C5CBE3;
    font-size: 50px;
    color: #D79922;
}
.SpecialOffers{
    width: -webkit-fill-available;
    border: 2px solid;
}
.SpecialOffersimg{
    width: -webkit-fill-available;
}